<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936059076861-bsvmuacduv8tf7c0oa01v9j7f3i7kehf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936059076861-bsvmuacduv8tf7c0oa01v9j7f3i7kehf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>936059076861-8cfdjdej3va6n6dhas5r5b92imb0of9n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbtMlUrvRBfubxPz6wtNSlGhHTznZ__Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>936059076861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.bookand.mobile.dev</string>
	<key>PROJECT_ID</key>
	<string>bookand-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bookand-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936059076861:ios:84e80f825df60c9adc7e94</string>
</dict>
</plist>